*,*:after,*:before{
    margin: 0;
    outline:0;
}
a{
   text-decoration: none;
}
ul{
    list-style: none;
}

.content-top{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #9F1811;
    align-items: center;
    justify-content: space-between;
}

.logo{
   width: 70px;
    border-radius: 50%;
   margin-left: 3%;
}

.logo img{
    width: 100%;
}

.top-busca{
    margin-right: 3%;
   display: flex;
}

.top-busca input{
  border:0;
  width: 200px;
  height: 25px;
  font-size: 1.2em;
  border-radius: 5px 0 0 5px;

}

.top-busca a{
  color:#fff;
  padding: 4px 8px;
  background-color: #2D3645;

    
}

.container .main-menu{
     display: flex;
      background-color:#2D3645;
    height: 50px;
    font-family: sans-serif;

}
.container .main-menu ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}


.main-menu a {


}

.main-menu ul a{
    color:#fff;
    font-size: 1.4em;
    padding: 0 5px;

   }


.main-menu ul a:hover{
    border-bottom:3px solid #9F1811 ;
    height: 45px;
    padding: 0 5px;

}


.content{
  display: flex;

 flex-direction: column;
}

.banner-img{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.banner-img img{
   width: 100%;
   height: 100%;

}

.banner-principal{

}

.banner-img div{
   position: absolute;
   background-color: rgba(10,10,10, 0.7);
   height:120px;
   width: 420px;
   border-radius: 10px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color:#fff;
  font-family: sans-serif;  
}

.filmes{
  display: flex;
  justify-content: space-between;
 padding: 40px;
}

.filme-cartaz{
  width: 260px;
  height: 380px;
  display: flex;
  flex-direction: column;

}

.filme-cartaz img{
  width: 100%;
  height:80%;
}

footer{
  width: 100%;
  height: 80px;
  text-align: center;
  font-size: 1.1em;
  color:#fff;
  background-color: #9F1811;
}

.btn{
  border-radius: 10px;
  padding: 10px 20px;
  font-family: sans-serif;
 border:none;
 text-align: center;
 font-weight: bold;
}



.btn-blue{
   background-color: #232346;
   color:#fff;
}

.btn-blue:hover{
   background-color: #1F4AA6;
   color:#fff;
     
}

.main{
  display: flex;
  flex-direction: column;
}
.main div, .btn{margin:30px 0;}


.cadeiras{
  display: flex;
  flex-wrap: wrap;
}

.cadeiras img{
  height: 120px;
  width: 120px;
}

/* Color Theme Swatches in Hex
.Cinema-18-01-1-hex { color: #736555; } //bege
.Cinema-18-01-2-hex { color: #371A17; } //vermelho vilho
.Cinema-18-01-3-hex { color: #A35C4E; } //rose
.Cinema-18-01-4-hex { color: #C7BDBA; } //roxo claro
.Cinema-18-01-5-hex { color: #9F1811; } //vermelho claro

 Color Theme Swatches in RGBA
.Cinema-18-01-1-rgba { color: rgba(114, 100, 84, 1); }
.Cinema-18-01-2-rgba { color: rgba(54, 26, 23, 1); }
.Cinema-18-01-3-rgba { color: rgba(163, 91, 77, 1); }
.Cinema-18-01-4-rgba { color: rgba(198, 188, 186, 1); }
.Cinema-18-01-5-rgba { color: rgba(158, 23, 17, 1); }

 Color Theme Swatches in HSLA
.Cinema-18-01-1-hsla { color: hsla(31, 15, 39, 1); }
.Cinema-18-01-2-hsla { color: hsla(5, 41, 15, 1); }
.Cinema-18-01-3-hsla { color: hsla(9, 35, 47, 1); }
.Cinema-18-01-4-hsla { color: hsla(13, 10, 75, 1); }
.Cinema-18-01-5-hsla { color: hsla(2, 80, 34, 1); }
*/